.DS_Store
*.o
build/osx/bmcapture
build/osx/bmdb
build/osx/bmclient
build/osx/bmws
build/osx/bmsync
build/osx/test/
build/osx/bitmeteros/build/
*.mode1v3
*.pbxuser
bmclient/src/helpText.c
bmdb/src/helpText.c
bmsync/src/helpText.c
*.deb
build/linux/debian/DEBIAN/control
build/linux/debian/usr/bin/
build/linux/debian/usr/share/man/
build/linux/debian/var/lib/bitmeter/bitmeter.db.new
build/linux/debian/var/www/
build/linux/test/
build/linux/work/

