 body{
    font-size:62.5%;
    font-family: Helvetica, sans-serif;
    color: #2E6E9E;
 }
 noscript p{
    font-size: 200%;
    color: red;
    border: 2px solid red;
    padding: 5px;
    background-color: #FFCCCC;  
    text-align: center;
}
#noscriptMobile{
    font-size: 0.7em;
}
#noscriptMobile a{
    font-weight: bold;
    color: red;
}
a{
    cursor: pointer;    
}
#summary table{
    border-collapse: collapse;
}
#summary td{
    padding: 8px 5px 0px 10px;
}
#summary td.name{
    text-align:  right;
    font-weight: bold;
    font-size: 1.1em;
}
#summary td.value{
    text-align: right;
}
#summary th{
    text-align: right;
    font-size: 1.1em;
    width: 8em;
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
}
.filterNameContainer{
    width: 12em;
}
span.dateFormat{
    font-size: 75%;
}
input.hasDatepicker{
    margin-right: 10px; 
}
#queryButton{
    margin-top: 0.5em;
    padding: 2px 10px 2px 10px !important;
}
button, #query input, #query select, #calculator input, .textbox {
    border: 1px solid #2E6E9E;
    color: #2E6E9E;
    background-color: white;
    padding: 3px;
}
#query button.ui-datepicker-trigger{
    border: 0;
    padding: 0;
    background-position: 10 10;
}
#query button.ui-datepicker-trigger img{
    position: relative;
    top: 3px;
}
button, select {
    cursor: pointer;    
    color: #2E6E9E;
}
#queryErrBox p{
    margin: 4px;
}
#queryFields, #queryResults{
    float: left;
}
#queryFields td{
    height: 30px;
}
#queryStatusBox{
    line-height: 3em;
}
#queryStatusBox img{
    margin-left: 1.5em;
}
#queryExportLink{
    display: none;  
}
div.flexigrid{
    left: 20px;
}

.ui-icon{
    float: left;
    margin-right: 5px;  
}
h1{
    margin-left: 5px;
}
h2{
    float: left;    
}
.helpLink{
    float: left;    
    cursor: pointer;
    margin-top: 15px;
}
.panelContainer{
    clear: left;    
}
#floater{
    position: absolute;
    display: none;
    background-color: white;
    padding: 0.8em;
    border: 1px solid black;
    font-size: 1.1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:    8px 8px 5px #555;
    -webkit-box-shadow: 8px 8px 5px #555;
    box-shadow:         8px 8px 5px #555;   
}
.roundedCorners{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#floater table{
    border-collapse:collapse;
}
#floater td{
    padding: 0;
    white-space: nowrap;
}
#floater td.historyHoverDir, #floater td.historyHoverData{
    padding-right: 0.5em;
}
#floater td.historyHoverTime{
    padding-bottom: 0.2em;
    color: black;
    font-weight: bold;
}
#floater td.historyHoverDir{
    font-weight: bold;
}
#floater td.historyHoverData{
    text-align: right;
}
#floater h4{
    margin: 0;  
    margin-bottom: 0.5em;
    text-decoration: underline;
}
#floater p{
    margin-top: 0.5em;  
    margin-bottom: 0.5em;   
}
#floater td.alertStatusFloaterName{
    font-weight: bold;
    padding-right: 0.5em;
}
#floater td.alertStatusFloaterValue{
    text-align: right;
}
#floater.floaterErr{
    border-color: #CD0A0A;  
}
#floater.floaterErr h4,#floater.floaterErr td, #floater.floaterErr p{
    color: #CD0A0A;
}
div.spacer{
    clear: both;
}
.tickLabel{
    white-space: nowrap;
}
#monitorReadout, #monitorReadout table{
    padding: 5px 0 0 10px;
}
.monitorCurrent {
    font-size: 150%;
    width: 7em; 
}
.monitorPeak, .monitorAverage, .monitorScaleLinks {
    font-size: 150%; 
}
.monitorCurrent, .monitorPeak, .monitorAverage, td.monitorShowSeries, #monitorStopwatch {
    text-align: right;
}
.monitorCurrent{
    font-weight: bold;  
}
#monitorStopwatchIcon{
    cursor: pointer;   
}    
.monitorLabel{
    font-size: 120%;
    color: grey;
}
.monitorShowSeries input{
    margin: 0;
}
.scaleUpLink a, .scaleDownLink a{
    color: #2E6E9E;
}
.scaleUpLink, .scaleDownLink{
    text-align: right;
    padding-right: 15px;
    background-repeat: no-repeat;       
    background-position: center right;
    cursor: pointer;
}
.scaleUpLink{
    background-image: url(images/uup.png);
}
.scaleDownLink{
    background-image: url(images/ddn.png);
}
#history .graphDiv{
    float: left;
}
#history h3, .historyContainer{
    clear: left;
}
.historyScale{
    width: 40px;
    float: left;
    padding-top: 60px
}
#errMsgList{
    padding-left: 20px;
    margin: 5px;    
}
.dialogBox{
    background-color: white; 
    padding: 8px;
    position: fixed;
    width: 400px;
    top: 100px;
    z-index: 21;
    display: none;  
}
#errorDialog {
    border: 8px solid red; 
    color: red;
}
#confirmDialog{
    border: 8px solid #2E6E9E; 
    color: #2E6E9E;
}
.dialogBox h2{
    font-size: 200%;
    text-align: center;
    float: none;
    margin: 0;
}
.dialogBox p{
    font-size: 150%;
    text-align: center;
    margin: 5px;
}
.dialogBox button{
    background-color: white;    
    cursor: pointer;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid;
}
#errorDialog button{
    border-color: red;
    color: red;
}
#confirmDialog button{
    border-color: #2E6E9E;
    color: #2E6E9E;
    margin: 0.5em;
}
#confirmDialogButtons{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#modalBackground, #dialogModalBackground{
    opacity: 0.3;
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
#dialogModalBackground{
    z-index: 20;
}
#modalBackground{
    z-index: 10;    
}
.prefName, .prefValue{
    float: left;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0.5em;
}
.prefName{
    width: 5em;
    text-align: right;
}
.prefValue{
    margin-left: 2em;
}
.filterColourBox{
    border: 1px solid black;
    width: 3em;
    cursor: pointer;
}
#colourPickerDiv, #colourPickerTxtDiv{
    float: left;
    width: 200px;
}
#colourPickerTxtDiv h4{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#colourPickerTxtDiv p{
    margin-top: 0.5em;
}
#colourPickerTxtDiv ul{
    padding-left: 2em;
}
#colourPickerTxtDiv li{
    cursor: pointer;
}
a[href="#newVersion"]{
    color: #E17009 !important;
    background-color: white !important;
}
#newVersion{
    display: none;
}
#newVersionDownload{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid;
    padding: 0.3em;
}
input.prefRadio{
    margin-right: 2em;
}
table.prefTable input, table.prefTable label{
    cursor: pointer;
}
h3{
    margin-bottom: 0.5em;
}
p.compact{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
a.refreshLink{
    text-decoration: underline;
}
p.filterWarning{
    color: red;
    clear: both;
    margin-top: 0.2em;
    margin-bottom: 0.5em;

}
#calcSlider, #calcTextFields, #calcSliderLabels{
    float: left;   
    position: relative;
}
#calcSlider, #calcSliderLabels{
    height: 250px;
}
#calcSlider{
    margin-left: 2em;
    padding-top: 20px;
}
.calcTable td{
    padding: 0.2em;   
}
#calcSliderMax, #calcSliderCaption, #calcSliderValue, #calcSliderMin{
    position: absolute;
    white-space: nowrap;
}
#calcSliderMax{
    top: 20;    
}
#calcSliderCaption{
    font-weight: bold;
    width: 6em;
    text-align: center;
    top: 125px;
}
#calcSliderValue{
    width: 8em;
    text-align: center;
    top: 140px;
}
#calcSliderMin{
    top: 260px;
}
span#calcHowMuchSpeedInputSpan, span#calcHowLongSpeedInputSpan{
    display: none;   
}
.calcTable input{
    margin-bottom: 0.5em;   
    text-align: right;
}
p.calcDesc{
    width: 50em;
}
td.calcTableName{
    font-weight: bold;  
}
h3#calcHowMuch{
    margin-top: 2em;   
}
#calcHowMuchResult, #calcHowLongResult{
    font-size: 2em;
    padding-left: 1em;
    text-align: center;
}
#calcHowMuchDesc, #calcHowLongDesc{
    font-size: 0.8em;
    padding-left: 1em;
    text-align: center;
}
#swPanel{
    text-align: center;    
}
#swReadout{
    border: 1px solid;    
    padding: 0.5em;
    font-size: 3em;
}
#swButtons{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
#swButtons button{
    margin-bottom: 1em;
    cursor: pointer;
    height: 3em;
}
#swReset{
    margin-right: 0.5em;    
}
#swStopGo{
    margin-left: 0.5em;
}
.swDlValue, .swUlValue{
    text-align: right;
    width: 40%;    
}
.swLabel{
    font-weight: bold;   
}
#swValues{
    width: 90%;   
}
#alertsDisplay{
    display: none;  
}
div.alertProgress, div.alertProgressFull{
    width: 300px;
    height: 16px;
}
div.alertProgressFull{
    border: 1px solid;
    background-color: #CD0A0A;
}
td.alertName{
    font-weight: bold;  
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
td.alertStatus{
    padding-right: 2em; 
}
td.alertLink{
    padding-left:  1em;
    padding-right: 1em;
}
#alertsTable th#alertTableSeparator{
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
    font-size: 0;
}
#alertsTable{
    margin-bottom: 1em; 
}
#alertsTable td{
    padding-top: 0.7em;
    padding-bottom: 0;
}
#alertsTable th{
    font-size: 1.2em;
}
#createAlertBox{
    display: none;  
    top: 100px;
    z-index: 11;
    position: fixed;
    width: 50em;
    padding: 20px;
    padding-top: 10px;
    background-color: white;
    border: 4px solid;
}
#createAlertBoxAccordion .createAlertBoxAccordionPanel{
    padding: 0;
}
#createAlertBoxAccordion .createAlertBoxAccordionPanel p{
    margin: 1em;    
}
#createAlertStartFixedDetails, #createAlertStartRepeatingDetails, #createAlertStartRollingDetails{
    display: none;  
}
.createAlertStartDetails{
    padding: 1em;   
}
#ui-datepicker-div{
    z-index: 12;    
}
#createAlertStartRepeatingDetails input{
    margin-left: 4em;   
}
#createAlertStartRepeatingDetails, #createAlertStartRepeatingDetails p{
    padding: 0; 
}
a.adminOnly.forbidden{
    color: grey;    
    cursor: default;
}
#createAlertStartRepeatingDateBox, #createAlertStartRepeatingTimeBox, #createAlertStartRepeatingDayBox{
    display: none;  
    margin-left: 6em;
    float: left;
}
div.createAlertStartRepeatingTxt{
    width: 28em;    
}
#createAlertStartRepeatingDetails select, .createAlertStartRepeatingTxt{
    float: left;
}
#createAlertPeriodSomeDetails{
    display: none;  
    margin: 1em;        
}
#createAlertPeriodTimes{
    width: 20em;    
}
#createAlertStartRepeatingDateBoxContainer{
    padding-top: 0.5em; 
    padding-bottom: 0.5em;  
    float: left;
}
#createAlertPeriodDaysBox, #createAlertPeriodTimesBox{
    margin-left: 2em;
    float: left;    
}
#createAlertPeriodTimesTxt{
    padding-top: 0.2em; 
    padding-bottom: 0.5em;  
}
#createAlertPeriodSomeDetails h4{
    margin-top: 0.5em;  
    margin-bottom: 0.5em;
}
#createAlertPeriodAdd{
    clear: left;
    padding-right: 2em;
    height: 2em;
}
#createAlertPeriodAddBtn{
    float: right;
}
#createAlertPeriodList td{
    padding-left: 1em;
    padding-top: 0.2em; 
}
#createAlertStatusBox label{
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
    margin-right: 1em;
}
#createAlertPercentageComplete{
    margin-left: 1em;
}
#createAlertSave, #createAlertCancel{
    float: right;
    margin-left: 1em;
    font-weight: bold;
}
#createAlertSave.saveDisabled{
    color: grey;
    border-color: grey;
    cursor: default;
}
#createAlertBottomPanel{
    margin-top: 1em;
    margin-bottom: 1em;
}
#createAlertHelpText{
    margin: 0;
}
#createAlertHelpText h3{
    margin-top: 0;
    font-size: 1.5em;
}
#createAlertHelpText p{
    font-size: 1.2em;
}
#mobileLink{
    display: none;  
}
#alertImg{
    clear: none;
    display: block;
    float: left;
    z-index: 100;
}
#alertsTable .ui-state-error{
    border: 0;  
}
.alertStatusIcon{
    cursor: pointer;    
}
.ui-tabs-vertical{ 
    width: 57em; 
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em; 
    float: left; 
}
.ui-tabs-vertical .ui-tabs-nav li { 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important; 
    margin: 0 -1px .2em 0; 
}
.ui-tabs-vertical .ui-tabs-nav li a { 
    display:block; 
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0; 
    padding-right: .1em; 
    border-right-width: 1px; 
    border-right-width: 1px; 
}
.ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em; 
    float: right; 
    width: 42em;
}
#rssCount{
    width: 3em; 
}
#prefMonitorInterval, #prefHistoryInterval, #prefSummaryInterval{
    width: 2em; 
}
#prefs h4{
    margin-bottom: 0;   
}
#prefRefreshIntervals .prefName{
    width: 12em;    
}
.prefUpdateStatus{
    line-height: 2em;   
}
#prefsFilterColours div.filterNameContainer{
    float: left;
    line-height: 3em;
}